{% extends 'base.html' %}
<h1>All Games</h1>
{% block content %}
<h1 style="text-align: center;">To Play Table</h1>
<table class="table table-warning" style="width:80%; border:2px solid rgb(10, 83, 179); margin: auto;">
<thead class="table-dark">
    <tr>

        <th>
            Title
        </th>
            
        </th>
        <th>
            Platform
        </th>
        <th>
            Added Time
        </th>
        <th>

        </th>
           
       

    </tr>
   
</thead>
<tbody>



{% for game in object_list %}

    <!-- <ul>
        <li>Title: {{ game.title }}</li>
        <li>Platform: {{ game.platform }}</li>
        <li>Added Date: {{ game.date }}</li>
        <form action="{% url 'delete' pk=game.pk %}" method="POST">
            {% csrf_token %}
        <button value="remove" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this?')">Delete</button>
    </form>

    </ul> -->

    <tr>
        <td>{{ game.title }}</td>
        <td>{{ game.platform }}</td>
        <td>{{ game.date }}</td>
        <td> <form action="{% url 'delete' pk=game.pk %}" method="POST">
            {% csrf_token %}
        <button value="remove" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this?')">Delete</button>
    </form>
</td>
    </tr>

</tbody>
{% endfor %}
<tfoot>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
       
        <!-- <input type="text" value="Title">
        <input type="text" value="Platform"> -->
        <button type="submit" class="btn btn-primary">Add</button>
    
    </form>
</td>
</tfoot>

</table>

<h1 style="text-align: center;">In Progress</h1>
<table class="table table-warning" style="width:80%; border:2px solid rgb(10, 83, 179); margin: auto;">
    <thead class="table-dark">
        <tr>
    
            <th>
                Title
            </th>
                
            </th>
            <th>
                Platform
            </th>
            <th>
                Added Time
            </th>
            <th>
    
            </th>
               
           
    
        </tr>
       
    </thead>
    <tbody>
    
    
    
    {% for game in object_list %}
    
        <!-- <ul>
            <li>Title: {{ game.title }}</li>
            <li>Platform: {{ game.platform }}</li>
            <li>Added Date: {{ game.date }}</li>
            <form action="{% url 'delete' pk=game.pk %}" method="POST">
                {% csrf_token %}
            <button value="remove" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this?')">Delete</button>
        </form>
    
        </ul> -->
    
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.platform }}</td>
            <td>{{ game.date }}</td>
            <td> <form action="{% url 'delete' pk=game.pk %}" method="POST">
                {% csrf_token %}
            <button value="remove" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this?')">Delete</button>
        </form>
    </td>
        </tr>
    
    </tbody>
    {% endfor %}
    <tfoot>
        <td>
    
        </td>
        <td>
    
        </td>
        <td>
    
        </td>
        <td>
    
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
           
            <!-- <input type="text" value="Title">
            <input type="text" value="Platform"> -->
            <button type="submit" class="btn btn-primary">Add</button>
        
        </form>
    </td>
    </tfoot>
    
    </table>

<h1 style="text-align: center;">Finished Games
</h1>

<table class="table table-warning" style="width:80%; border:2px solid rgb(10, 83, 179); margin: auto;">
    <thead class="table-dark">
        <tr>
    
            <th>
                Title
            </th>
                
            </th>
            <th>
                Platform
            </th>
            <th>
                Added Time
            </th>
            <th>
    
            </th>
               
           
    
        </tr>
       
    </thead>
    <tbody>
    
    
    
    {% for game in object_list %}
    
        <!-- <ul>
            <li>Title: {{ game.title }}</li>
            <li>Platform: {{ game.platform }}</li>
            <li>Added Date: {{ game.date }}</li>
            <form action="{% url 'delete' pk=game.pk %}" method="POST">
                {% csrf_token %}
            <button value="remove" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this?')">Delete</button>
        </form>
    
        </ul> -->
    
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.platform }}</td>
            <td>{{ game.date }}</td>
            <td> <form action="{% url 'delete' pk=game.pk %}" method="POST">
                {% csrf_token %}
            <button value="remove" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this?')">Delete</button>
        </form>
    </td>
        </tr>
    
    </tbody>
    {% endfor %}
    <tfoot>
        <td>
    
        </td>
        <td>
    
        </td>
        <td>
    
        </td>
        <td>
    
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
           
            <!-- <input type="text" value="Title">
            <input type="text" value="Platform"> -->
            <button type="submit" class="btn btn-primary">Add</button>
        
        </form>
    </td>
    </tfoot>
    
    </table>

<!-- <h4>Add a game</h4> -->




{% endblock content %}

